html 
  head
    title
      Debate Lesson - #{Tutor} & #{Student} 
    //Booyakasha Bounty!
    script(src="webRTCTest/openTOKmin.js")
    //script(src="webRTCTest/OpenTOKDemo.js")
    script
      var session = OT.initSession(#{apiKey}, #{sessionId}); 
      session.on({ 
        streamCreated: function(event) {
          //console.log("Someone joined the convo! Say hi!");
          alert("Someone joined the convo! Say hi!");
          session.subscribe(event.stream, 'subscribersDiv', {insertMode: 'append'}); 
        } 
      }); 
      session.connect(#{token}, function(error) {
      if (error) {
        console.log(error.message);
      } else {
        //console.log("Publisher Ready!");
        alert("Publisher Ready!");
        session.publish('myPublisherDiv', {width: 320, height: 240}); 
      }
      }); 
  
  body
    p(text-align="centre") #{Tutor}
    div(float='centre' id='myPublisherDiv') 
    p(text-align="centre") #{Student}
    div(id='subscribersDiv')           